body {
  font-family: 'Open Sans', sans-serif;
  background: #EBECF1;
  font-size: 14px; }

a:focus, a:active {
  outline: none; }

#gmui_sidebar {
  background: #f53b57;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
  width: 300px;
  padding-left: 20px; }
  #gmui_sidebar ul.navbar-nav li.nav-item a.nav-link {
    color: #fff; }

#gmui_page {
  margin-left: 300px; }
  #gmui_page #gmui_page_header {
    padding: 20px 30px 80px 30px;
    background: #3c40c6; }
    #gmui_page #gmui_page_header #gmui_page_header_title {
      text-transform: uppercase;
      display: inline;
      color: #fff;
      font-size: 0.9em; }
      #gmui_page #gmui_page_header #gmui_page_header_title .breadcrumb {
        background: none;
        padding: 0;
        margin: 0;
        display: inline; }
        #gmui_page #gmui_page_header #gmui_page_header_title .breadcrumb .breadcrumb-item {
          display: inline; }
          #gmui_page #gmui_page_header #gmui_page_header_title .breadcrumb .breadcrumb-item a {
            color: #fff; }
          #gmui_page #gmui_page_header #gmui_page_header_title .breadcrumb .breadcrumb-item.active {
            font-weight: 700;
            color: #fff; }
    #gmui_page #gmui_page_header #gmui_page_header_utils {
      float: right; }
      #gmui_page #gmui_page_header #gmui_page_header_utils form {
        width: 220px; }
        #gmui_page #gmui_page_header #gmui_page_header_utils form .input-group {
          background: rgba(255, 255, 255, 0.6);
          border-radius: 30px; }
          #gmui_page #gmui_page_header #gmui_page_header_utils form .input-group input {
            background: none;
            border: none; }
            #gmui_page #gmui_page_header #gmui_page_header_utils form .input-group input:focus {
              -webkit-box-shadow: none;
                      box-shadow: none; }
          #gmui_page #gmui_page_header #gmui_page_header_utils form .input-group .input-group-append button {
            background: none;
            border: none;
            color: #3c40c6; }
      #gmui_page #gmui_page_header #gmui_page_header_utils .nav {
        float: right;
        padding-left: 15px; }
        #gmui_page #gmui_page_header #gmui_page_header_utils .nav .nav-item a {
          color: #fff; }
        #gmui_page #gmui_page_header #gmui_page_header_utils .nav .nav-item .dropdown-menu a {
          color: #3c40c6; }
  #gmui_page #gmui_page_content {
    margin: -30px 30px 30px 30px;
    min-height: 60px; }
    #gmui_page #gmui_page_content .card {
      margin-bottom: 20px; }
      #gmui_page #gmui_page_content .card .card-header {
        background: transparent;
        border-bottom: none;
        padding: 10px 20px 0 20px; }
        #gmui_page #gmui_page_content .card .card-header .card-title {
          margin-top: 10px; }
      #gmui_page #gmui_page_content .card .card-body {
        padding: 15px 20px 10px 20px; }
    #gmui_page #gmui_page_content .table-striped thead tr th {
      font-weight: 300;
      color: #f53b57;
      font-size: 1.4em;
      border-top: none; }
    #gmui_page #gmui_page_content .table-striped tbody tr:nth-of-type(2n+1) {
      background: #EBECF180; }

/*# sourceMappingURL=style.css.map */